body {
  color: #000000;
}

.product {
  color: #FFFFFF;
  background-color: blue;
  display: block;
}

.product .name {
  margin: 0;
}

.filters .group .selected {
  font-weight: bold;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.loading .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.loading .container img.loading-icon {
  width: 400px;
  max-width: 100%;
  height: auto;
}
