@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);

body {
  overflow: hidden;
}

body * {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  z-index: 20;
}

header .container {
  width: 100%;
  height: 100%;
}

header .container .logo {
  float: left;
  margin: 0;
  padding: 25px 0;
  height: 100%;
}

header .container .logo img {
  width: auto;
  height: 100%;
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.search-activated {
  top: 200px;
}

.search .intro-title {
  position: relative;
  margin: 250px auto 90px auto;
  width: 80%;
  font-size: 45px;
  line-height: 72px;
  text-align: center;
  z-index: 1;
}

.search-activated .intro-title {
  margin: 0 auto 0 auto;
  height: 0;
  opacity: 0;
}

.search form {
  position: relative;
  text-align: center;
  z-index: 2;
}

.search-activated form {
  text-align: left;
}

.search form input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}

.search-activated form input {
  float: left;
}

.search form input.search-input {
  padding-left: 10px;
  width: 375px;
  color: #6A6A6A;
  font-style: italic;
}

.search-activated form input.search-input {
  width: 250px;
  color: #FFFFFF;
  font-style: normal;
  background: none;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 0;
}

.search form input.submit-btn {
  margin-left: 20px;
  width: 125px;
  background-color: #EB038B;
  color: #FFFFFF;
  cursor: pointer;
}

.search-activated form input.submit-btn {
  margin: 7px;
  margin-left: 27px;
  width: 30px;
  height: 30px;
  background: none;
  background-image: url('../images/icons/search.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.search form input.submit-btn:hover {
  background-color: #C90376;
}

.search-activated form input.submit-btn:hover {
  background-color: #0860D8;
}

.filters-collapsed {
  position: absolute;
  top: 200px;
  right: 0;
  padding-right: 90px;
  width: calc(100% - 400px);
  font-size: 18px;
  opacity: 0;
  z-index: 2;
}

.filters-activated {
  opacity: 1;
}

.filters-collapsed ul {
  float: right;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
}

.filters-collapsed ul li {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.filters-collapsed ul li img {
  margin: 7px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
}

.results-activated {
  top: 300px;
  opacity: 1;
}

.results .filters {
  margin-bottom: 50px;
  width: 100%;
  height: 300px;
  background-color: #064BAC;
}

.results .filters {
  padding: 20px 90px;
}

.results .filters .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
}

.results .filters .group {
  float: left;
  width: 33.3333333333%;
  font-size: 18px;
}

.results .filters .group .title {
  font-size: 18px;
  font-weight: 600;
}

.results .filters .group .selected {
  font-weight: bold;
}

.filters .group ul {
  list-style: none;
}

.results .filters .group span, .filters .group button, .filters .group ul li {
  cursor: pointer;
}

.results .filters .sortonprice .input-content input {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  font-size: 18px;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  outline-width: 0;
}

.results .filters .sortonprice .input-content button {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 33px;
  line-height: inherit;
  font-size: 18px;
  color: inherit;
  background-color: #EB038B;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}

.results .filters .sortonprice .input-content button:hover {
  background-color: #C90376;
}

.results .product-container .product {
  cursor: pointer;
  display: none;
}

.results .product-container .product .name {
  margin: 0;
}

.results .loading {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
