@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  height: 100px;
  z-index: 20;
}

header .container {
  width: 100%;
  height: 100%;
}

header .container .logo {
  float: left;
  margin: 0;
  padding: 25px 0;
  height: 100%;
}

header .container .logo img {
  width: auto;
  height: 100%;
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.search-activated {
  top: 200px;
}

.search .intro-title {
  position: relative;
  margin: 250px auto 90px auto;
  width: 80%;
  font-size: 45px;
  line-height: 72px;
  text-align: center;
  z-index: 1;
}

.search-activated .intro-title {
  margin: 0 auto 0 auto;
  height: 0;
  opacity: 0;
}

.search form {
  position: relative;
  text-align: center;
  z-index: 2;
}

.search-activated form {
  text-align: left;
}

.search form input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}

.search-activated form input {
  float: left;
}

.search form input.search-input {
  padding-left: 10px;
  width: 375px;
  line-height: 38px;
  color: #6A6A6A;
  font-style: italic;
  border: 1px solid #BFBFBF;
}

.search-activated form input.search-input {
  width: 250px;
  color: #FFFFFF;
  font-style: normal;
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 0;
}

.search form input.submit-btn {
  margin-left: 20px;
  width: 125px;
  background-color: #EB038B;
  color: #FFFFFF;
  cursor: pointer;
}

.search-activated form input.submit-btn {
  margin: 6px;
  margin-left: 27px;
  width: 30px;
  height: 30px;
  background: none;
  background-image: url('../images/icons/search.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.search form input.submit-btn:hover {
  background-color: #C90376;
}

.search-activated form input.submit-btn:hover {
  background-color: #0860D8;
}

.filters-collapsed {
  position: absolute;
  top: 200px;
  right: 0;
  margin-left: -50px;
  margin-right: -50px;
  padding-right: 90px;
  width: calc(100% - 400px);
  font-size: 18px;
  opacity: 0;
  z-index: 2;
}

.filters-activated {
  opacity: 1;
}

.filters-collapsed ul {
  float: right;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
}

.filters-collapsed ul * {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.filters-collapsed ul li {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.filters-collapsed ul li span {
  padding-bottom: 11px;
}

.filters-collapsed ul .selected span {
  border-bottom: 1px solid #FFFFFF;
}

.filters-collapsed ul li img {
  margin: 7px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
}

.results-activated {
  top: 300px;
  opacity: 1;
}

.results .filters {
  margin-bottom: 50px;
  padding: 20px 90px;
  width: 100%;
  height: 300px;
  max-height: 300px;
  background-color: #064BAC;
  display: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

/*Yes, the media queries shouldn't be here, but this are so much custom queries that we would need too much files.*/
@media screen and (max-width: 1200px) {
  .results .filters {
    height: 520px;
    max-height: 520px;
  }
}

.results .filters .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
}

.results .filters .group {
  float: left;
  margin-bottom: 50px;
  width: 33.3333333333%;
  font-size: 18px;
}

/*Yes, the media queries shouldn't be here, but this are so much custom queries that we would need too much files.*/
@media screen and (max-width: 1200px) {
  .results .filters .group {
    width: 100%;
  }
}

.results .filters .group .title {
  font-size: 18px;
  font-weight: 600;
}

.results .filters .group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.results .filters .group .selected {
  font-weight: 700;
}

.results .filters .group ul * {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.results .filters .group span, .filters .group button, .filters .group ul li {
  cursor: pointer;
}

.results .filters .sortonprice .input-content {
  margin: 0;
}

.results .filters .sortonprice .input-content input {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  width: 80px;
  font-size: 18px;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  outline-width: 0;
}

.results .filters .sortonprice .input-content button {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 33px;
  line-height: inherit;
  font-size: 18px;
  color: inherit;
  background-color: #EB038B;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}

.results .filters .sortonprice .input-content button:hover {
  background-color: #C90376;
}

.results .filters .currency ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
}

.results .product-container {
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 90px;
  padding-right: 90px;
  z-index: 2;
}

.results .product-container .product {
  position: relative;
  float: left;
  padding: 25px 30px;
  margin: 0 40px 80px 40px;
  width: calc(25% - 80px);
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

/*Yes, the media queries shouldn't be here, but this are so much custom queries that we would need too much files.*/
@media screen and (max-width: 1200px) {
  .results .product-container .product {
    width: calc(33.3333333333% - 80px);
  }
}

@media screen and (max-width: 1000px) {
  .results .product-container {
    margin-left: -30px;
    margin-right: -30px;
  }

  .results .product-container .product {
    margin: 0 30px 60px 30px;
    width: calc(33.3333333333% - 60px);
  }
}

@media screen and (max-width: 900px) {
  .results .product-container .product {
    width: calc(50% - 60px);
  }
}

@media screen and (max-width: 650px) {
  .results .product-container .product {
    width: calc(100% - 60px);
  }
}

.results .product-container .product figure {
  margin: 0;
  width: 100%;
  height: calc(100% - 79px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.results .product-container .product .name {
  margin: 0;
  margin-top: 25px;
  color: #333333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  max-height: 54px;
  overflow: hidden;
}

.results .product-container .product .price {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  background-color: #0860D8;
  border-radius: 5px;
}

.results .product-container .product .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(235, 3, 139, 0.8);
  background-image: url('../images/icons/search.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  display: none;
}

.results .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #0860D8;
  z-index: 3;
  display: none;
}

.results .loading .container {
  margin-top: 50px;
}

.results .loading .container img {
  width: 200px;
  height: auto;
}

.results .loading .container h1 {
  font-weight: 300;
  font-size: 36px;
}
